
.card-container, .graph{
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.card-layout1{
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 8px;
  width: 45%;
  box-shadow: 2px 2px 6px rgba(0,0,0,0.1);
  background-color: #f9f9f9;
  overflow-x: auto;
  
}

.table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed; 
  word-wrap: break-word;
}

.table th, .table td {
  padding: 8px;
  text-align: left;
  border: 1px solid #ddd;

  white-space: nowrap;  
  overflow: hidden;
  text-overflow: ellipsis;
}