
.dash-container{
  padding: 10px;
  border: solid 1px #ccc;
  min-height: 100vh; /* ✅ Full height of the viewport */
  box-sizing: border-box; /* Ensures padding is included in height */
  
}
.title{
  line-height: 1.0; /* or tweak as needed */
  color : red;
  
}

.card-container, .graph{
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 8px;
  width: 45%;
  box-shadow: 2px 2px 6px rgba(0,0,0,0.1);
  background-color: #f9f9f9;
  
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th, .table td {
  padding: 8px;
  text-align: left;
  border: 1px solid #ddd;
}
@media (max-width: 1024px) {
  .card {
    width: 100%;
  }
}

/* Make inputs slightly flexible but not too wide */
.date-input {
  max-width: 200px;
  min-width: 150px;
  flex: 1 1 auto;
}

/* Prevent button from shrinking */
.search-btn {
  white-space: nowrap;
  flex-shrink: 0;
}

